/* Limpa o padding e margin padrão do navegador */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita barras de rolagem */
    background-color: #0a0a0a; /* Fundo escuro, tema F1/corrida */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa a altura total da viewport */
}

/* Garante que o canvas fica bem centralizado */
canvas {
    display: block;
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5); /* Efeito de brilho subtil para realçar o ecrã */
    border-radius: 5px;
}